<div class="modal-dialog" role="document">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Responder solicitação</h4>
    </div>
    <div class="modal-body" style="background-color: #f6f6f6;">

      <p class="lead text-center" style="margin: 15px 0 10px 0;">Escolha um dos brinquedos da lista ou troque por 1 crédito.</p><p class="text-center" style="margin-bottom:30px;">1 crédito vale um brinquedo dentro da plataforma.</p>

      <div class="row">
        <div class="col-sm-7">
          <ul class="list-group user-toy-list" style="overflow: scroll;height: 200px;">
          <% @exchange.toy.user.toys.each do |toy| %>
            <li class="list-group-item"><%= link_to toy.title, toy %></li>
          <% end %>
          </ul>
        </div>
        <div class="col-sm-5 text-center">
          <br>
          <br>
          <p class="lead">Prefiro trocar por<br>1 crédito</p>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="text-center">
        <%= link_to "Prosseguir &raquo;".html_safe, "#", class: "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
</div>