<% content_for :subheader do %>
  <h1>Colunas e Novidades</h1>
<% end %>

<div class="row">
  <div class="col-sm-8">
    
    <ul class="list-articles list-unstyled">
      <%= render @articles %>
    </ul>

    <%= link_to_next_page @articles, 'Veja mais', remote: true, id: "load_more_link", class: "btn btn-default btn-default" %>
  </div>
</div>
