<div class="store-title">
  <div class="container">
    <h1><%= @store.name %></h1>
    <p class="lead"><%= @store.user.city %> / <%= @store.user.state %></p>
  </div>
</div>

<br>
<br>

<div class="container">
  <% if @items %>
    <ul class="cards list-unstyled">
      <%= render @items, file: "/items/_item" %>
    </ul>
  <% end %>
</div>

</div>

