#container {
	width:1600px; /* This is the width you want to be displayed for IE6 users. Remember IE6 can't handle fluid layouts, so it has to be fixed. Change it to: 960, 1200, 1440, 1600 (recommended ofc). Now under #content, declare the width with minus 330 from this value. I used 1600 here so the content is 1600 - 330 = 1270 */
}

#sidebar {
	background:url('../../img/admin/siderep.png') 195px 0 repeat-y;
}

#content {
	width:1270px; /* This is what you need to change */
	background:none;
	padding-left:30px;
}

#main {
	margin:0;
}