<div class="home-destaque">
  <h2>Por um mundo com mais trocas e conexões</h2>
  <p class="sub-title">Um brinquedo que circula é uma brincadeira que continua</p>
  <%= link_to "Como funciona", how_it_works_path, class: "btn btn-lg btn-success" %>
</div>