<h1 class="ui header">Sobre</h1>
<h2>como surgiu o Quintal de Trocas</h2>

<article class="content">
  <div class="form-content">
    <div class="cols">
      <p>Foi em uma Feira de Trocas em uma praça que a atriz Carol Guedes teve a ideia de abrir o Quintal de
        Trocas.</p>
      <p>Ela achou tão incrível ver sua filha Maria Beatriz de dois anos aprender tantos valores brincando, que quis
        espalhar essa experiência para o mundo todo.</p>
      <p><strong><i>“Na troca, a criança não pensa no preço do brinquedo, ela pensa apenas no valor daquela
        brincadeira!”</i></strong></p>
      <p>Foi com este pensamento que Carol reuniu uma equipe formada por psicólogos, jornalistas, artistas, artesãos,
        entre outros e criou o “Quintal de Trocas”.</p>
      <p>
        <strong><i>“Queria criar um site para mostrar para os outros pais e crianças que um único brinquedo pode virar
          milhares, um barquinho pode virar uma boneca...a boneca uma bola...a bola um livro...o livro uma
          fantasia...a fantasia um carrinho, enfim, a brincadeira nunca termina!”</i></strong>. afirma a atriz e
        agora empresária.</p>
      <p>O “Quintal de Trocas” é também um espaço que reúne e promove a troca de informações, como artigos, notícias,
        links interessantes, eventos, etc., um local para a troca de experiências e colaboração.</p>
      <p>A equipe do “Quintal de Trocas” acredita que as crianças podem aprender conceitos importantes durante a
        brincadeira que o site promove. Nestas trocas, as crianças aprendem a negociar, a ceder para conquistar, a
        desapegar-se e também a compartilhar. Não queremos que a brincadeira termine nunca e poder proporcionar isso
        aos nossos filhos, ensinando-os de forma natural o valor da sustentabilidade, não tem preço. Além disso, ainda
        respeitamos o planeta, ajudamos a diminuir o desperdício, a energia e a matéria prima!</p>
      <p>Participe desse movimento com a gente e plante no Quintal você também!</p>
      <%= link_to (image_tag 'fotos.jpg'), root_path %>
    </div>
  </div>
</article>