<% content_for :subheader do %>
  <h1>Perguntas frequentes</h1>
<% end %>

<div class="row">
  <div class="col-sm-8">

    <p class="lead">1) Posso trocar o brinquedo do meu filho com outro de uma criança de idade diferente ?</p>
    Sim, sem problemas. A ideia do site é que a troca seja feita de comum acordo entre as partes. É muito comum que pais com filhos de diferentes idades queiram trocar o brinquedo de um para presentear o outro. Isto fortalece a ideia do quintal e é muito positivo.</p>

    <hr>

    <p class="lead">2) Eu consigo trocar o brinquedo da minha filha com um de um menino ou vice-versa ?</p>
    <p>O quintal de trocas não acredita muito na diferença de gêneros entre os brinquedos, mas -independente desta opinião- cada pai, mãe ou responsável estabelece o que será trocado. Assim, se a troca fizer sentido para ambos, não há problema algum.</p>

    <hr>

    <p class="lead">3) O que acontece se uma criança não aceitar a troca que estou propondo ?</p>
    <p>O processo proposto pelo quintal de trocas passa por uma etapa muito importante que é a negociação entre os interessados. Pode acontecer que, durante esta etapa, uma criança não se interesse pelo brinquedo da outra, o que é absolutamente normal e sugerimos que esta situação seja tratada abertamente com a criança. Se a troca não for possível em um primeiro momento, continue acompanhando as comunicações do quintal que outra criança certamente se interessará.</p>

    <hr>

    <p class="lead">4) Quem paga as despesas de da entrega (sedex ou algo do tipo) ?</p>
    <p>O quintal de trocas recomenda que cada remetente seja responsável pela despesa de envio do seu brinquedo, mas podem acontecer trocas em que uma das partes queira custear todas as despesas. O importante é que as duas partes combinem como isto será feito da melhor forma e de comum acordo para ambas.</p>

    <hr>

    <p class="lead">5) Eu serei cobrado por alguma taxa por utilizar o site ?</p>
    <p>Não. O quintal de trocas é um site gratuito, um espaço para unir pessoas e viabilizar o consumo consciente. Nenhuma taxa é cobrada pelos seus participantes.</p>

    <hr>

    <p class="lead">6) O site recebe algum dinheiro pela troca ?</p>
    <p>Não. O site não participa do processo da troca e não recebe nada por isso, pelo contrário, a proposta é que este ambiente seja apenas um canal para unir as pessoas interessadas em um outro destino para os brinquedos dos seus filhos, uma outra forma de conviver com o consumo e a colaboração, cada usuário do site é livre para viabilizar a troca da maneira como desejar.</p>

    <hr>

    <p class="lead">7) Posso trocar um brinquedo com algum defeito ou ele precisa estar em perfeito estado ?</p>
    <p>Nós do quintal de trocas sabemos que um brinquedo em perfeito estado nas mãos de uma criança não é das coisas mais comuns de acontecer. Por isso, é importante que as partes sejam transparentes no processo, explicando o real estado do seu brinquedo, preferencialmente com fotos dos defeitinhos, para que todos sejam beneficiados do processo e não tenham sustos.</p>

    <hr>

    <p class="lead">8) O que acontece se meu filho não gostar do brinquedo que ele recebeu na troca ?</p>
    <p>É importante que o seu filho seja envolvido durante todo o processo, para saber exatamente qual o brinquedo que está sendo trocado e como ele é. Se isto for feito com clareza e durante todo o processo, a chance de desapontamentos diminui bastante. No entanto, se mesmo assim, o seu filho não gostar do que receber em troca, nada impede que o brinquedo seja recadastrado para uma nova troca.</p>

    <hr>

    <p class="lead">9) É obrigatório escrever a cartinha para enviar o brinquedo ?</p>
    <p>A cartinha não é obrigatória, mas é uma parte importante do processo, tanto para quem recebe, quanto para quem envia. Estimule seu filho a escrever algo, contar sua história para você escrever, ou até mesmo desenhar algo que expresse seu sentimento naquele momento.</p>

    <hr>

    <p class="lead">10) O que acontece se eu enviar o meu brinquedo e não receber nada pelo correio conforme o combinado ?</p>
    <p>Imprevistos acontecem, por isso, o quintal de trocas reforça que é importante que as partes tenham um relacionamento estreito durante o processo, seja através da comunicação por e-mail, seja através do telefone, facebook, etc. Se algo acontecer, procure entrar em contato com a outra parte envolvida para entender o motivo. Se, mesmo assim, a questão não for resolvida, envie um e-mail para contato@quintaldetrocas.com.br para entendermos a situação e melhorarmos o site a fim de evitar novos ocorridos.</p>

    <hr>

    <p class="lead">11) Posso trocar meu brinquedo mais simples por um de maior valor ou vice-versa ?</p>
    <p>Sim, e isto acontece com bastante frequencia. Só a criança sabe o verdadeiro valor de cada brinquedo. Quantas vezes você já não presenteou seu filho ou filha com algo de valor significativo e ele se interessou mais pela embalagem do presente ? Isto faz parte da infância e lembre-se, a criança deve ser a protagonista da troca.</p>

  </div>
  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-body">

        <p class="lead">Ainda possui dúvidas?</p>
        <p>Preencha nosso formulário e envie sua mensagem!</p>
        <%= link_to "Enviar mensagem", contact_us_path, class: "btn btn-block btn-primary btn-lg" %>

      </div>
    </div>
  </div>
</div>
