<% content_for :subheader do %>
  <h1>Como funciona</h1>
<% end %>

<br>

<h1 class="text-center" style="font-weight: 200;">O Quintal de Trocas é um site que permite a troca de brinquedos, jogos, livros e fantasias entre crianças. <strong>100% gratuito</strong></h1>

<h2 class="text-center" style="margin: 50px 0 0 0; font-weight: 100; color: #999">Veja como funciona:</h2>

<div class="step">
  <%= image_tag "step1.png", width: 430 %>
  <div class="text">
    <h1><span class="number">1</span> Solicite um brinquedo para troca</h1>
    <p class="lead">Para solicitar uma troca, você precisa ter pelo menos <strong>1 crédito</strong> disponível no site (você ganha um crédito no momento que cadastra um brinquedo, e o crédito fica ativo até você utilizá-lo). Feito isso você escolhe o brinquedo que deseja e solicita ao responsável.</p>
  </div>
</div>

<div class="step right">
  <%= image_tag "step2.png", width: 430 %>
  <div class="text">
    <h1><span class="number">2</span> Aguarde a resposta do responsável</h1>
    <p class="lead">O responsável pelo brinquedo recebe um email e responde se aceita ou não a troca. Caso aceite, ele escolhe se quer trocar o brinquedo por um brinquedo da sua lista, ou por um crédito. Você receberá uma notificação por e-mail sobre a decisão do resposável.</p>
  </div>
</div>

<div class="step">
  <%= image_tag "step3.png", width: 430 %>
  <div class="text">
    <h1><span class="number">3</span> Combinar a troca</h1>
    <p class="lead">Se o responsável pelo brinquedo aceitar a troca, vocês poderão nesse momento combinar como será feita a troca, que pode ser:</p>

    <ul class="lead">
      <li><strong>Pessoalmente</strong> (vocês combinarão data e local para troca) ou</li>
      <li><strong>Por correio</strong> (nesse caso combinarão forma de envio e custeio da entrega).</li>
    </ul>
  </div>
</div>

<div class="step right">
  <%= image_tag "step4.png", width: 430 %>
  <div class="text">
    <h1><span class="number">4</span> Avise quando seu brinquedo chegar</h1>
    <p class="lead">Assim que você receber o brinquedo, você precisará informar no Quintal de Trocas para que a troca seja finalizada, uma vez que a troca é finalizada você ganha confiança na plataforma, e o responsável pelo brinquedo recebe o crédito (caso ele tenha solicitado o crédito em vez do brinquedo).</p>
  </div>
</div>

<br>
<br>
<br>
<br>