<<<<<<< Updated upstream
<% content_for :subheader do %>
  <h1>Como funciona</h1>
<% end %>
=======
<div class="sub-header">
  <h2>Como funciona</h2>
</div>
>>>>>>> Stashed changes

<iframe width="640" height="350" src="https://www.youtube.com/embed/EEGcsYG_4Q4" frameborder="0" allowfullscreen></iframe>


<h2>Seu filho escolhe qual brinquedo quer trocar</h2>
<p>É importante que a criança escolha, dentre os seus brinquedos, qual brinquedo deseja oferecer para troca. Assim, ela exercita a capacidade de escolha, o desapego, e participa do processo desde o início.</p>

<h2>Você tira foto do brinquedo e cadastra no site</h2>
<p>Depois de ter escolhido o brinquedo, é hora dos pais (ou responsáveis) tirarem a foto do brinquedo para o cadastro. É muito importante que a foto tenha uma expressão fiel do brinquedo, no estado em que se encontra. O Quintal de Trocas possibilita a inclusão de até 3 fotos, então escolha os ângulos que mostrem bem o que é o brinquedo, incluindo eventuais defeitos.</p>

<h2>Seu filho escolhe o brinquedo que desperta seu interesse</h2>
<p>Este é um dos momentos mais legais da brincadeira, é a hora da criança escolher qual brinquedo quer receber no lugar daquele que está colocando para a troca. Navegue entre as diferentes categorias e filtros, veja as opções e atente para aquela que seu filho mais gosta, marcando a opção desejada. Depois disso, o atual dono do brinquedo vai receber uma mensagem, informando que tem alguém querendo efetuar uma troca!</p>
<strong>Dicas:</strong>
<ul>
  <li>Atente para a idade indicativa do brinquedo e tome cuidado com os brinquedos que possuem peças pequenas;</li>
  <li>A escolha da região também é importante, lugares próximos facilitam a troca;</li>
  <li>Se a outra criança não quiser trocar com seu filho, não se preocupe, a frustração tem um papel importante para que ele amadureça e se torne ainda mais forte.</li>
</ul>

<h2>Ele escreve uma cartinha contando sua história com o brinquedo</h2>
<p>Oferta aceita, é hora de providenciar o envio. Estimule seu filho a escrever uma cartinha (ou a fazer um desenho se ele ainda não souber escrever) contando momentos marcantes da história daquele brinquedo. Nesta hora, a criança resgata um pouco da sua história e revive sentimentos. Mas cuidado... Ao relembrar momentos tão gostosos, é natural que a criança não queira mais trocar. Aproveite para reforçar que todos estes momentos poderão ser vividos pela outra criança, e como será legal receber a história de alguém.</p>

<h2>Efetua a troca</h2>
<p>Pronto, agora é só despachar o seu brinquedo pelos correios ou entregá-lo nos postos de troca, de acordo com o que foi combinado durante a negociação. Vocês podem combinar de trocar o brinquedo no mesmo posto, assim, aproveitam para se conhecer e agilizam o processo. Troca feita, é hora de aproveitar o brinquedo novo! Boa diversão! Ah, e não se esqueça que não há limites para trocas, se um brinquedo trocado já não for mais interessante para a criança e estiver em bom estado, faça uma nova troca!</p>
