<h1 class="ui header">Parceiros</h1>

  <h2>Quer ser nosso parceiro?</h2>
  <p>Fale com a gente! Teremos um enorme prazer em receber o seu e-mail. <a href="mailto:parceiros@quintaldetrocas.com.br">Clique aqui</a>.</p>
  <!--<h2>Conheça nossos parceiros e apoiadores</h2>-->
  <ul class="partner-list">
                 <li class="ie-fix">
        <a href="http://catracalivre.com.br/sp/editoria/catraquinha/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400519701537a3c15d1059.png" alt="Catraca Livre" data-pin-nopin="true"></span></div><strong class="name">Catraca Livre</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://criancaeconsumo.org.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140443722453b602e839b7b.jpg" alt="Criança e Consumo"></span></div><strong class="name">Criança e Consumo</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://ecoredesocial.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1401909101538f6f6dac84f.jpg" alt="Eco Rede Social"></span></div><strong class="name">Eco Rede Social</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.acasadasideias.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400519256537a3a58a8f98.png" alt="Casa das Ideias"></span></div><strong class="name">Casa das Ideias</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://www.cinematerna.org.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/14010781425382c17e344b2.jpg" alt="CineMaterna"></span></div><strong class="name">CineMaterna</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://alana.org.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140443730253b60336328f9.jpeg" alt="Instituto Alana"></span></div><strong class="name">Instituto Alana</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://www.espacodeleitura.org.br" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400712152537d2bd8d4a15.jpg" alt="Espaço de Leitura - Parque da Água Branca"></span></div><strong class="name">Espaço de Leitura - Parque da Água Branca</strong></a>        </li>
                    <li class="ie-fix">
        <a href="https://www.facebook.com/pages/Amigos-do-CEU-de-Maric%C3%A1/705676549491346?fref=ts" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140545591253c58e281af49.jpg" alt="CEU - CENTRO DE ARTES E ESPORTES UNIFICADOS"></span></div><strong class="name">CEU - CENTRO DE ARTES E ESPORTES UNIFICADOS</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://www.sampasling.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400519981537a3d2d48984.jpeg" alt="Sampa Sling - Espaço Nascente "></span></div><strong class="name">Sampa Sling - Espaço Nascente </strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://mamusca.com.br/site/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400519027537a39731cb4c.jpg" alt="Mamusca"></span></div><strong class="name">Mamusca</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://ninguemcrescesozinho.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400715577537d3939ef55c.jpg" alt="Ninguém Cresce Sozinho"></span></div><strong class="name">Ninguém Cresce Sozinho</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.commadre.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400520152537a3dd885380.png" alt="Commadre "></span></div><strong class="name">Commadre </strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://mamatraca.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400800939537e86ab368d6.jpg" alt="Mamatraca "></span></div><strong class="name">Mamatraca </strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.macetesdemae.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1401759920538d28b096496.jpg" alt="Macetes de Mãe"></span></div><strong class="name">Macetes de Mãe</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.espacoarete.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400520402537a3ed2dee31.png" alt="Espaço Areté"></span></div><strong class="name">Espaço Areté</strong></a>         </li>
                    <li class="ie-fix">
        <a href="https://www.facebook.com/festasnoatelierfazendoarte?fref=ts" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400521042537a41529ad6f.jpg" alt="Atelier Fazendo Arte"></span></div><strong class="name">Atelier Fazendo Arte</strong></a>        </li>
                    <li class="ie-fix">
        <a href="www.playtoy.com.br" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400521581537a436d8725b.jpg" alt="Playtoy Brinquedos"></span></div><strong class="name">Playtoy Brinquedos</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.casatupiniquim.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400519197537a3a1d6de88.jpeg" alt="Casa Tupiniquim "></span></div><strong class="name">Casa Tupiniquim </strong></a>         </li>
                    <li class="ie-fix">
        <a href="https://www.facebook.com/pages/Brinquedoteca-Giz-de-Cera/506754206075978?fref=ts" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400521792537a4440db00c.png" alt="Brinquedoteca Giz de Cera"></span></div><strong class="name">Brinquedoteca Giz de Cera</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.culturainfantilearte.blogspot.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1401741831538ce20788b02.jpg" alt="Cultura Infantil: Arte, História e Brincadeira "></span></div><strong class="name">Cultura Infantil: Arte, História e Brincadeira </strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.peperomia.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400529246537a615e2c4e4.jpg" alt="Peperômia"></span></div><strong class="name">Peperômia</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.casadobrincar.com.br/site/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1399690396536d949c8fb08.png" alt="Casa do Brincar "></span></div><strong class="name">Casa do Brincar </strong></a>        </li>
                    <li class="ie-fix">
        <a href="https://www.facebook.com/pages/Amigos-do-CEU-de-Maric%C3%A1/705676549491346?fref=ts" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140539410153c49cb5d04a0.jpg" alt="CEU - CENTRO DE ARTES E ESPORTES UNIFICADOS"></span></div><strong class="name">CEU - CENTRO DE ARTES E ESPORTES UNIFICADOS</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://revistacrescer.globo.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400816941537ec52dd8332.jpg" alt="Crescer On Line"></span></div><strong class="name">Crescer On Line</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.bolhinhasdesabaoparamaria.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140849989753f400b9ee8d4.png" alt="Bolinhas de Sabão para Maria"></span></div><strong class="name">Bolinhas de Sabão para Maria</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.milc.net.br " target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/1400712125537d2bbd04271.jpg" alt="Milc - Movimento Infância Livre de Consumismo"></span></div><strong class="name">Milc - Movimento Infância Livre de Consumismo</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://conscienciaeconsumo.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140356795153a8bf4febcee.jpg" alt="Consciência e Consumo"></span></div><strong class="name">Consciência e Consumo</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.camilaselli.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140356859453a8c1d2bf0f6.jpg" alt="Camila Sélli - Fotografia "></span></div><strong class="name">Camila Sélli - Fotografia </strong></a>        </li>
                    <li class="ie-fix">
        <a href="https://www.facebook.com/lojaninho" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140383699053acda3edf497.jpg" alt="Loja Ninho e Café Tico-Tico no Fubá"></span></div><strong class="name">Loja Ninho e Café Tico-Tico no Fubá</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.quintaldavila.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140443656253b60052a01e5.jpg" alt="Quintal da Vila"></span></div><strong class="name">Quintal da Vila</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.lojaninho.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140443666353b600b76de50.jpg" alt="O Ninho "></span></div><strong class="name">O Ninho </strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://uspnaescolinha.blogspot.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140549196353c61afb7ba4b.png" alt="USP na Escolinha"></span></div><strong class="name">USP na Escolinha</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.traquinarte.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140443704153b60231c796d.jpg" alt="Traquinarte"></span></div><strong class="name">Traquinarte</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://diarioquintal.blogspot.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140549148053c61918337fd.jpg" alt="Quintal - Onde a Infância Brota!"></span></div><strong class="name">Quintal - Onde a Infância Brota!</strong></a>        </li>
                    <li class="ie-fix">
        <a href="http://www.maevaidosa.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140453320053b779d048d8d.jpg" alt="Mãe Vaidosa"></span></div><strong class="name">Mãe Vaidosa</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://ldberco.tumblr.com/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/14014209015387fc65602e2.jpg" alt="Literatura de Berço"></span></div><strong class="name">Literatura de Berço</strong></a>         </li>
                    <li class="ie-fix">
        <a href="http://www.roteirokids.com.br/" target="_blank"><div class="img"><span class="tbl-cell"><img src="http://quintaldetrocas.com.br/uploads/image/140540427553c4c473a36e5.jpg" alt="Roteiro Kids"></span></div><strong class="name">Roteiro Kids</strong></a>         </li>
          </ul>
