<div class="modal-header">
	<h4 class="modal-title">Política de Privacidade</h4>
</div>

<div class="modal-body">
	<p>O QUINTAL DE TROCAS tem como sua principal política o uso das informações dadas por seus usuários e cadastradas no site para os fins de ciência aos outros usuários quando houver a finalização do negócio envolvendo cada uma das partes. Os dados fornecidos pelos usuários serão de utilização do site para estes fins de intermediação negocial, mas poderão ser veiculadas propagandas e direcionamentos pelos patrocinadores do site, de acordo com a utilização do QUINTAL DE TROCAS pelas pessoas (menores ou responsáveis). Assim, não será considerada a invasão à privacidade do usuário esta veiculação ou encaminhamento de propagandas. Entretanto, não serão enviados "spams" a qualquer um dos nossos usuários, sendo apenas aferidos seus gostos e últimas pesquisas para que surjam nas telas de busca do site as oportunidades que venham a ser publicadas pelos nossos fornecedores e/ou parceiros. O QUINTAL DE TROCAS disponibilizará a opção em seu cadastro para aqueles que queiram desabilitar esta opção de compartilhamento de seus hábitos e gostos, através da ferramenta própria a ser colocada no cadastro do usuário.</p>
</div>
