<% content_for :subheader do %>
  <h1>Apoie</h1>
  <p class="lead">Seja parte desse movimento</p>
<% end %>

<div class="row">
  <div class="col-sm-8">
    
    <p class="lead">Como contribuir?</p>

    <p class="lead">Queremos promover conexões entre pais do Brasil inteiro e para isso, precisamos de apoio.</p>

    <p class="lead">Nossos conteúdos são gratuitos e nossos eventos sempre realizados a preços acessíveis. Não queremos limitar o acesso, queremos levar a mais pessoas.</p>

    <p class="lead">Não temos investidores e estamos há vários meses trabalhando pelo sonho de transformar a educação no Brasil.</p>

    <p class="lead">Se você acredita no nosso projeto, se quer fazer parte ou se quer nos ajudar a chegar na sua cidade, pedimos gentilmente sua contribuição. Você pode contribuir com a quantia que quiser.</p>

    <p class="lead">Acreditamos que dinheiro é energia e essa energia vai nos ajudar a impulsionar nosso movimento, melhorar nossa plataforma, realizar mais eventos e produzir mais conteúdo.</p>

    <p class="lead">Muita gratidão!</p>

  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag "support.png" %>
    <p class="lead">Quer ser nosso apoiador?</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBU3UulV7iSp6gDDSSMZ1hYHGF7zMJdJBIOvc9BOGMZOPkbsyWrjrFfdRi7qCvovpCVmFSOwfnspnKdiw2kGfXbeLDEc4NOFpdNF6K9mGb57yipSozk4W2lk0SyWSP6YIEcdZAgKaw0F4Kn+qd/oGZDvy2Z1sx06dvzD2cqpE87bjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIRKiIb++PhlCAgaAesMiA7GNYfMPihiNxff2NCwugXgXE/rnskD2vsLVIfGMGWp0rcoKTM/Ovp0kSpF2ICBYHv+b2N/R/pommc4fw5I+4FJdKY7JuDyxx9ivG6KiA3QPVO6hW90upZLn8vtDAG5LpgxTLc4qnjwkJhgPIH2dNtzsLpQOZsdJJUQT3VEZIrOVVBZCbB+sxOkVZOJHJUJw/088zh/9JQvJEe72YoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwNjE0MTg0MDAxWjAjBgkqhkiG9w0BCQQxFgQUQVn9hYy/fGMODVOl0C6YpFxRmOUwDQYJKoZIhvcNAQEBBQAEgYBzVHJ1wiAsTvP2u5kJKfgfX1UL7IMZy/Tgf0TZ3P/6zq4qAHRIgaiBO3r8XY8YvmAT0kysDBPMZqpDtiCZZk8jqBGFFoXYmEY+qjYmX7LmVRDjGMnrR6mfrYc/dBX86vuI+3LzH2QXZI/My+qhO9XXEUnSNMuqSjxUqQSQo7S3LA==-----END PKCS7-----
             ">
      
      <button type="submit" style="border-radius: 5px; border: 0; padding: 22px; font-size: 18px; font-weight: bold; background: #da963b; color: #fff; margin: 0 auto; width: 250px; display: block; cursor: pointer;">Quero contribuir.</button>
      
      <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
