<% content_for :subheader do %>
  <h1>Apoie</h1>
  <p class="lead">Seja parte desse movimento</p>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <br>
    <p class="lead">Você já parou para pensar onde investe seu dinheiro?</p>

    <p class="title">Pode ser R$10 ou R$10.000… pense nisso: Onde você o emprega?</p>

    <p>Vivemos numa sociedade capitalista e, muito cá entre nós, onde você investe o seu dinheiro é onde você emprega essa energia e cocria a sua realidade.</p>

    <p>Então, se você gasta seu dinheiro comprando o que é produzido pelas grandes indústrias, muitas vezes com a prática do trabalho escravo de adultos e crianças, é esse modelo que você está estimulando, cocriando, e ajudando a crescer.</p>

    <p>Mas fique tranquilo, pois da mesma forma que você investiu seu dinheiro de maneira inconsciente, agora é possível reverter essa lógica e ter a oportunidade de empregá-lo de forma clara e consciente.</p>

    <p class="title">O Quintal de Trocas é uma plataforma de e-commerce consciente. Hã?</p>

    <p>Uma plataforma que conecta pessoas, onde todos podem usufruir de tudo aquilo que foi feito utilizando os recursos naturais, porém, sem exigir ainda mais do planeta e sem sobrecarregar nosso Ecossistema.</p>

    <p>Nossos princípios são: abundância nas relações, abundância para você, abundância para o planeta, muita abundância para todos. Dentro dessa lógica, todos ganham!</p>

    <p class="title">Nós conseguimos fazer isso como?</p>

    <ul>
      <li>Através de um e-commerce onde você pode escolher trocar “coisas por coisas” ou “coisas por dinheiro” e assim permitir que aquele objeto fique mais tempo circulando.</li>
      <li>Trabalhando com textos e vídeos que expandam nossa consciência para o consumo e nos façam refletir no dia-a-dia “o que” e “como” estamos consumindo.</li>
      <li>Através de palestras e empoderando cada vez mais pessoas e grupos a produzirem suas próprias feiras de trocas.</li>
    </ul>

    <p class="title">E por que será muito legal você nos apoiar?</p>

    <ul>
      <li>Porque poderemos criar juntos novos modelos de negócios, de relações, e ajudar um número cada vez maior de pessoas a expandir a consciência para a importância e necessidade urgente de um mundo mais cuidadoso e amoroso para todos nós;</li>
      <li>Porque você vai colocar a energia do seu dinheiro no mundo em que quer viver, contribuindo para a materialização deste sonho;</li>
      <li>Porque vamos colher a mesma abundância que será gerada para o Planeta Terra!</li>
    </ul>

    <p class="title">Como você pode nos apoiar?</p>

    <ul>
      <li>Usando a nossa plataforma, fazendo os brinquedos circularem;</li>
      <li>Compartilhando os nossos conteúdos nas redes sociais, seguindo a nossa página no facebook;</li>
      <li>Fazendo uma doação;</li>
      <li>Para fazer uma doação, clique no botão ao lado.</li>
    </ul>

    <p>E se você é empresa, empresário e quer retribuir para o mundo a riqueza que o mundo te gera, entra em contato com a gente. Será um enorme prazer poder contar mais sobre o Quintal, abrir nossos planos e nossas contas mensais.</p>

    <p>Um forte abraço e gratidão</p>

  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag "support.png" %>
    <p class="lead">Quer ser nosso apoiador?</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBU3UulV7iSp6gDDSSMZ1hYHGF7zMJdJBIOvc9BOGMZOPkbsyWrjrFfdRi7qCvovpCVmFSOwfnspnKdiw2kGfXbeLDEc4NOFpdNF6K9mGb57yipSozk4W2lk0SyWSP6YIEcdZAgKaw0F4Kn+qd/oGZDvy2Z1sx06dvzD2cqpE87bjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIRKiIb++PhlCAgaAesMiA7GNYfMPihiNxff2NCwugXgXE/rnskD2vsLVIfGMGWp0rcoKTM/Ovp0kSpF2ICBYHv+b2N/R/pommc4fw5I+4FJdKY7JuDyxx9ivG6KiA3QPVO6hW90upZLn8vtDAG5LpgxTLc4qnjwkJhgPIH2dNtzsLpQOZsdJJUQT3VEZIrOVVBZCbB+sxOkVZOJHJUJw/088zh/9JQvJEe72YoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwNjE0MTg0MDAxWjAjBgkqhkiG9w0BCQQxFgQUQVn9hYy/fGMODVOl0C6YpFxRmOUwDQYJKoZIhvcNAQEBBQAEgYBzVHJ1wiAsTvP2u5kJKfgfX1UL7IMZy/Tgf0TZ3P/6zq4qAHRIgaiBO3r8XY8YvmAT0kysDBPMZqpDtiCZZk8jqBGFFoXYmEY+qjYmX7LmVRDjGMnrR6mfrYc/dBX86vuI+3LzH2QXZI/My+qhO9XXEUnSNMuqSjxUqQSQo7S3LA==-----END PKCS7-----
             ">
      
      <button type="submit" style="border-radius: 5px; border: 0; padding: 22px; font-size: 18px; font-weight: bold; background: #da963b; color: #fff; margin: 0 auto; width: 250px; display: block; cursor: pointer;">Quero contribuir.</button>
      
      <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
