<div class="modal-header">
  <h4 class="modal-title">Termos e condições de uso</h4>
</div>

<div class="modal-body">

  <p class="lead">Apresentação</p>

  <p>O QUINTAL DE TROCAS é um site que tem como principal missão promover o consumo consciente e ensinar as crianças sobre a importância da troca e do compartilhamento, realizando tudo de forma divertida.</p>

  <p class="lead">Modo de atuação do site</p>

  <p>O processo é relativamente simples para o usuário cadastrado no QUINTAL DE TROCAS.</p>

  <p>Primeiro, ele tira uma foto (que pode ser até de câmera de celular) de todos os objetos que vai querer disponibilizar para a troca.</p>

  <p>Em seguida, entra no site e cadastra o objeto (podendo ser um brinquedo, um livro, uma fantasia ou um jogo).</p>

  <p>Após realizado o cadastro, procura um objeto de seu interesse.</p>

  <p>Com a busca realizada, notifica o proprietário do objeto pelo seu interesse e entre si negociam e eventualmente combinam a troca de objetos.</p>

  <p>Por fim, a troca é efetivada através da utilização de serviços de entrega (como correios, por exemplo,com custos pagos pelos envolvidos) ou pessoalmente (através do encontro com a presença dos responsáveis pelas crianças).</p>

  <p>Há a possibilidade de o site fazer parcerias com empresas que queiram ser um “ponto de troca” para que a pessoa que queira trocar o objeto não precise pagar o envio e vá num local próximo para si.</p>

  <p class="lead">O cadastro e o uso do site</p>

  <p>Há a estrita necessidade de cadastro no site por um responsável legal da criança, e que irá querer usufruir das possibilidades no QUINTAL DE TROCAS. O cadastro será feito pelo preenchimento completo com todos os dados do responsável legal, mediante compromisso de respeito às regras de utilização dispostas a seguir e a concordância com todos os seus termos e condições, que são inegociáveis para qualquer pessoa.</p>

  <p>O uso do site é livre e grátis. O seu conteúdo será divido em dois módulos principais, um com o sistema de trocas e o outro com matérias e colunistas, que falarão constantemente sobre assuntos correlatos de interesse geral e atual, tal como a infância, a sustentabilidade, etc.</p>

  <p class="lead">Responsabilidade do site</p>

  <p>A equipe do QUINTAL DE TROCAS tem fim de fomento à convivência social em suas mais diversas formas desde a mais tenra infância; isto, a nosso ver, ajudaria para a formação do melhor caráter e que surjam pessoas com hábitos melhores para, quem sabe aos poucos, ajudarmos no nosso modo de atuação na melhoria da relação interpessoal entre todos os que se utilizarem do site.</p>

  <p>Para isso, e também por não lucrar absolutamente nada com a realização das possíveis permutas de fantasias, brinquedos, livros e outros objetos, não nos responsabilizamos perante os usuários, sendo de responsabilidade das pessoas cadastradas no site a veracidade das informações e autenticidade dos dados fornecidos.</p>

  <p>A responsabilidade do site será exclusiva para com seus fornecedores ou patrocinadores, que irão angariar os recursos ao funcionamento da intermediação dos negócios.</p>

  <p class="lead">Regras de Utilização - Termos e Condições Gerais de uso do QUINTAL DE TROCAS</p>

  <p>As Regras de Utilização – Termos e Condições Gerais de uso aplicam-se ao uso das facilidades do site, doravante simplesmente denominado QUINTAL DE TROCAS.</p>

  <p>O cadastro de usuário somente será efetivado com a aceitação, na íntegra, do que segue.</p>

  <p>Os usuários receberão senha após o cadastro no QUINTAL DE TROCAS, mediante a criação de um login relacionado ao nome do(s) responsável(is) e da(s) criança(s) inseridas no site.</p>

  <p>Ao usuário, o QUINTAL DE TROCAS possibilitará a inscrição no site, a oferta e o anúncio para itens de troca, a viabilização do contato direto entre seus usuários, para que negociem entre si diretamente sem, entretanto, intervir na negociação ou na efetivação dos negócios.</p>

  <p>É de plena ciência ao usuário que efetivará seu cadastro que o site não irá ser promovido com as permutas realizadas, sendo estas apenas intermediadas com a disponibilidade “on line” deste serviço, sendo claro ao usuário que, nesta particularidade, o QUINTAL DE TROCAS não auferirá lucro das relações havidas entre seus usuários cadastrados.</p>

  <p>O QUINTAL DE TROCAS reserva-se ao direito de invocar a ausência de sua responsabilidade na relação entre os usuários entre si e destes para com o site, pela própria natureza de servir apenas como intermediador no contato e negócio entre os usuários, e não guardar para si ganhos derivados de qualquer uma das relações porventura existentes.</p>

  <p>Da mesma forma que não se responsabilizará por inadimplementos e desacordos entre os usuários, o QUINTAL DE TROCAS não responderá por vícios nos produtos ou serviços de terceiros envolvidos nos negócios que possam ser realizados pelos usuários.</p>

  <p>Para a utilização do QUINTAL DE TROCAS, o usuário deverá ter pleno conhecimento e repeito à legislação brasileira, especialmente os Códigos Civil e Penal no que tange à plena capacidade de contratar, sendo condição sine qua non o usuário ser maior de idade, ter plena razão e capacidade, informar apenas a verdade quanto aos dados requeridos, especialmente seu nome, números de documentos e endereço completos, sendo passível de sua exclusão ou suspensão no site, caso não ocorra, sem o prejuízo das sanções penais inerentes a cada caso.</p>

  <p>No diagnóstico de informação inverídica de dados fornecidos, e de dados duplicados ou que gerem dúvidas, o QUINTAL DE TROCAS reserva-se ao direito de excluir ou suspender o usuário, sem qualquer aviso ou notificação anterior.</p>

  <p>Situações que envolvam possível risco a qualquer tipo ou medida de segurança terá a necessidade de aviso do usuário ao QUINTAL DE TROCAS, tais como suspeita de invasão de conta, alteração de dados, usuário suspeito, etc.</p>

  <p>Como não haverá valores financeiros envolvidos nas trocas, com exceção ao pagamento de envio de itens, e tampouco o pagamento de qualquer taxa de serviço ao QUINTAL DE TROCAS, o site não se responsabiliza por perdas, reembolsos não ocorridos, valores pagos a menos e outras situações que possam significar prejuízo aos usuários.</p>

  <p>Após o cadastro do usuário, o item disponibilizado para a troca com outros usuários será analisado e poderá sofrer modificações ou mesmo a vedação à sua publicidade, a critério da equipe do QUINTAL DE TROCAS mediante justo critério de aplicação do bom senso e usos e costumes próprios ao serem relacionados itens infantis, em sua essência.</p>

  <p>O final da relação de trocas entre os usuários não terá a aquiescência do QUINTAL DE TROCAS, e sequer irá interferir nas conversas realizadas entre os usuários, sendo de livre espontaneidade aos usuários o aviso ao site do desfecho da negociação realizada.</p>

  <p>Aos usuários, o que o QUINTAL DE TROCAS pede insistentemente e reiteradamente é que sempre atentem ao real intuito de fomento à interação social com a consequente economia e diminuição da grade de consumo de brinquedos, livros, fantasias ou outros itens para as crianças, com benefícios a todos os envolvidos e sob muitos aspectos.</p>

  <p>As dúvidas a serem dirimidas decorrentes deste documento poderão ser levadas para a discussão ao Foro da Comarca de São Paulo/SP, como foro de realização da prestação do serviço de intermediação do QUINTAL DE TROCAS, com sede na Capital do Estado de São Paulo.</p>

</div>
