<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <div class="page-header">
      <h1>Meus créditos</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Troca</th>
          <th>Status</th>
          <th class="text-right">Data</th>
        </tr>
      </thead>

      <tbody>
        <% @credits.each do |credit| %>
          <tr>
            <td><%= link_to "Troca ##{credit.exchange.id}", exchange_path(credit.exchange) %></td>
            <td><%= credit.is_available ? "Sim" : "Não" %></td>
            <td class="text-right"><%= credit.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
