<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <div class="page-header">
      <h1>Meus créditos</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="33%">Troca</th>
          <th width="33%">Status</th>
          <th width="33%" class="text-right">Adicionado em</th>
        </tr>
      </thead>

      <tbody>
        <% @credits.each do |credit| %>
          <tr>
            <td><%= link_to "Troca ##{credit.exchange.id}", exchange_path(credit.exchange) %></td>
            <td>
              <% if credit.expired_at.blank? %>
                <span class="label label-success">Disponível</span>
              <% else %>
                <span class="label label-danger">
                  Utilizado em <%= credit.expired_at.strftime('%d/%m/%Y %H:%M') %>
              <% end%>
            </td>
            <td class="text-right"><%= credit.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
