function somaFrete(valorFrete, valorItem) {
  var total = Number(valorFrete)+Number(valorItem);
  console.log(total);

  $('#installment_value').val(total);
  $('.checkout-total span').html(total);

}

$(document).ready(function() {
  $('#order_user_attributes_zipcode').mask('00000-000');
  $('input[name=cep]').mask('00000-000');

  var maskBehavior = function (val) {
   return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
  options = {onKeyPress: function(val, e, field, options) {
   field.mask(maskBehavior.apply({}, arguments), options);
   }
  };
   
  $('#order_user_attributes_phone').mask(maskBehavior, options);

  $('.response').on("change", "input[name=frete]", function(e){
    var $form = $(this).closest("tr");
    var optionChecked = $(this).val();
    var optionNome = $form.find(".freteNome");
    var optionPreco = $form.find(".fretePreco");

    $('tr.trFrete').find(".frete-nome").text("("+optionNome.html()+")");
    $('tr.trFrete').find(".frete-valor").text(optionPreco.html());

    somaFrete($form.find(".fretePreco").text(), $("input.preco").val());

  });

  $('.orders-new').on("click", ".calcula-frete", function(e){
    e.preventDefault();
    $this = $(this).closest("form");
    item_id = $this.find(".item_id").val();
    cep = $this.find("input[name='cep']").val();
    weight = $this.find("input[name='weight']").val()/1000;
    width = $this.find("input[name='width']").val();
    height = $this.find("input[name='height']").val();
    length = $this.find("input[name='length']").val();
    $this.find(".response").html("");

    $.ajax({
      url: '/brinquedos/'+ item_id +"/frete",
      dataType: 'json',
      data: {cep: cep, weight: weight, width: width, height: height, length: length}
    })
    .success(function(data) {

      // $this.parent().find(".item").html(e.title);
      console.log(data);
      console.log("this...11");
      var string = "<table class='table'>";
      // string += "<thead><tr><td width='40%'>Tipo</td><td width='30%'>Frete</td><td width='30%'>Prazo</td></tr></thead>";
      Object.keys(data).forEach(function(key){
        // string += "<tr><td><input type='radio' name='frete'> "+data+"</td>"
        string += "<tr><td><input type='radio' name='frete' value='"+data[key].tipo+"'> <span class='freteNome'>"+data[key].nome+"</span></td>"
        string += "<td>R$ <span class='fretePreco'>"+data[key].valor+"</span></td>";
        string += "<td>"+data[key].prazo_entrega+" dias</td></tr>";
      });
      string += "</table>";

      $this.find(".response").html(string);
        
    });

  });
});