$(document).ready(function() {
  
  if ($('body.places-edit').length || $('body.places-new').length || $('body.places-update').length) {

    $('#place_zipcode').mask('00000-000');

    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
      onKeyPress: function(val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('#place_phone').mask(SPMaskBehavior, spOptions);
    $('#place_phone_alt').mask(SPMaskBehavior, spOptions);

    $("#place_zipcode").on('keyup change', function() {
      var cep = $(this).val();
      if(cep.length >= 8) {
        $(".cep-feedback").html("<i class='icon-spinner icon-spin'></i> Aguarde...");
        $.getJSON("/busca-por-cep?cep=" + cep,
          function(data) {
            if(data.cep) {
              $(".cep-feedback").html("<span class='glyphicon glyphicon-ok' style='color:green'></span>");
              $("#place_street").val(data.tipo_logradouro + ' ' + data.logradouro);
              $("#place_neighborhood").val(data.bairro);
              $("#place_city").val(data.cidade);
              $("#place_state").val(data.uf);
            } else {
              $(".cep-feedback").html("<span class='glyphicon glyphicon-warning-sign' style='color:red'></span> CEP não encontrado, por favor preencha-o manualmente.");
              // $(".endereco").find('input:text').val('');
            }
          }
        );
      } else {
        $(".cep-feedback").html("");
      }
    });

    $(".btn-footer").on("click", function(ev) {
      ev.preventDefault();
      console.log($(this).attr("href"));

      $.ajax({
        url: $(this).attr("href"),
        success: function(data){
          console.log(data);
          $("#footer_text .modal-content").html(data);
        }

      })
    });


    $(document).on("change", "#place_zipcode", function(){
      console.log("kkk");
      $(".add_fields").show();
    });

    $(".endereco").on("change", "input", function(){
      console.log("formulario alterado....");
      codeAddress();
    });
  }

  
  if ($('body.places').length) {

    console.log("Place page...");

    // $(".place-filter").change(function(event) {
    //   event.preventDefault();
    //   $(this).submit();
    // });

    var citymap = {};

    $.ajax({
      url: '/pontos',
      type: 'GET',
      dataType: "json"
      // success: function(data) {
      //   citymap = data;
      // }
    }).done(function(data) {
      citymap = data;
      // console.log( "success" );
      // console.log(citymap);
    });


    var geocoder;
    var map;
    var marker;
    
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.src  = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBzgRvMidyz6Ss0JfNX1F-caivPmDYT6i8&callback=gmap_draw";
    window.gmap_draw = function(){
      

      
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: -23.533773, lng: -46.625290},
        mapTypeId: google.maps.MapTypeId.TERRAIN
      });

      // console.log(citymap[0]);

      // Construct the circle for each value in citymap.
      // Note: We scale the area of the circle based on the population.
      citymap.forEach(function(city) {

        // console.log(city.id);
        // console.log(city.latitude);
        // console.log(city.longitude);
        // console.log("-----");

        // Add the circle for this city to the map.
        var cityCircle = new google.maps.Circle({
          strokeWeight: 0,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: { lat: city.latitude, lng: city.longitude },
          radius: 100000
        });

        // console.log(cityCircle);

      });


    };
    $("head").append(s);
  }

});

