<li>
  <a href="<%= url_for(item) %>">
    <div class="thumb" style="background-image: url('<%= item.fet_image.image.url(:medium) %>')">
    </div>
    <div class="content">
      <h2><%= link_to item.title, item, target: "_blank" %></h2>
      <label class="label label-default" style="display: block;font-size: 1em;">
        <%= f.radio_button :item_from, item.id %> Quero esse
      </label>
    </div>
  </a>
</li>
