<p>Olá! Tudo bem?</p>

<p>Meu nome é Carolina Guedes, sou cocriadora do Quintal de Trocas e tenho lindas novidades para você.</p>
<p>Essa semana estamos celebrando nossa página inicial e nosso logo de roupa nova! Tá lindo de viver! Tem até geolocalização… e agora já dá pra saber os brinquedos mais próximos a você disponíveis para troca.</p>
<p>E vem mais mudança por aí...e para que essa experiência seja cada vez melhor, mais doce e enriquecedora, precisamos apenas de alguns minutinhos para que deixe seu perfil pronto para essa nova brincadeira.</p>
<p>Preparado(a)?</p>
<p>Vamos lá:</p>

<ol>
  <li>Entre no site <a href="www.quintaldetrocas.com.br">www.quintaldetrocas.com.br</a></li>
  <li>Faça seu login </li>
  <li>Veja se você ainda tem os brinquedos que estão cadastrados lá.</li>
  <li>Não tem mais nenhum desses brinquedos? Sem problemas é só excluir o brinquedo.</li>
</ol>

<p>Assim a gente só mostra no site os brinquedos que estão prontos para serem trocados!</p>
<p>Cadastre novos brinquedos e venha fazer parte dessa diversão!</p>

<p> Gratidão,</p>
<p> Carolina Guedes e Time Quintal de Trocas