<h2>Olá <%= @user.name %>,</h2>

<p>Seu brinquedo <strong><%= @item.title %></strong> foi cadastrado com sucesso no Quintal de Trocas e estamos muito felizes!</p>

<p>A partir de agora, você já pode escolher um brinquedo, um jogo, um livro ou uma fantasia para trocar pelo que você acabou de cadastrar.</p>

<br>
<small>Nota: Achamos que este portal será sempre utilizado da melhor maneira, mas nós reservamos o direito de excluir qualquer item que não esteja de acordo com a política de utilização do site.</small>