<h2>Olá <%= @user.name %>,</h2>

<p>Você possui brinquedo cadastrado há alguns meses no Quintal de Trocas que ainda não foi trocado.</p>

<p>Eles serão desativados automaticamente dentro de <strong>2 dias</strong>, porém, se você tiver ainda o brinquedo e deseja deixar disponível no site, visite o link abaixo para reativá-los.</p>

<p><stronng><%= link_to "Ver minha lista de brinquedos", my_items_url %></strong></p>