<h2>Olá <%= @user_to.name %>,</h2>

<p><%= @user_from.name %> enviou uma nova mensagem pra você. Clique no link abaixo para viualizá-lo.</p>

<p><%= link_to "Ver mensagem", exchange_url(@exchange.id) %></p>