<h2>Olá <%= @user_to.first_name %>,</h2>

<p><%= @user_from.name %> solicitou uma troca de brinquedo. Clique no link abaixo ver mais detalhes e responder se aceita a troca ou não.</p>

<p><%= link_to "Ver detalhes", exchange_url(@exchange.id) %></p>