<p>Oi! Como você está?</p>

<p>Você encontrou alguma dificuldade para excluir brinquedos já trocados?</p>

<p>Conseguiu incluir novos brinquedos?</p>

<p>Queremos deixar o Quintal de Trocas com a “terra” pronta para todas as mudanças que vão acontecer e o seu cadastro é parte importantíssima nesse processo! ☺</p>

<p>Vamos JUNTOS TRANSFORMAR O MUNDO! Faça parte desse movimento!</p>

<ol>
<li>Entre no site: app.quintaldetrocas.com.br</li>
<li>Faça seu login</li>
<li>Exclua brinquedos já trocados ou inclua novos brinquedos</li>
<li>Pronto! Você está pronto para a brincadeira!</li>
</ol>

<p>Forte abraço,<br>
Carolina Guedes e Time Quintal de Trocas</p>