<p>Olá. Tudo bem?</p>

<p>Você está pronto para todas as grandes mudanças que irão acontecer no
Quintal de Trocas?</p>

<p>Está pronto para o consumo compartilhado?</p>

<p>Está pronto para cocriar o mundo que deseja viver?</p>

<p>Nós estamos prontíssimos e queremos te dar as mãos para fazer essa grande mudança juntos! Afinal, as grandes mudanças só acontecem assim...de mãos dadas!</p>

<p>Essa é a última chamada! Depois desse email você terá apenas 48h para deixar seu perfil prontíssimo para esse novo mundo que está sendo construído.</p>

<p>Vamos brincar?</p>

<ol>
<li>Entre no site www.quintaldetrocas.com.br</li>
<li>Faça seu login</li>
Exclua os brinquedos que já foram trocados ou que você não tem mais e inclua os brinquedos que <li>deseja trocar.</li>
</ol>

<p>Construa um mundo novo – Venha fazer parte desse movimento!</p>

<p>Forte abraço,<br>
Carolina Guedes e Time Quintal de Trocas</p>