.articles-show {

  .page-header {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .meta {
    color: #999;
    padding: 15px;
    font-size: 95%;
    border-bottom: 1px solid #eee;
    background-color: #f6f6f6;
    margin-bottom: 30px;

    span {
      margin-left: 15px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .panel {
    li {
      min-height: 70px;
      margin-top: 10px;
    }
  }
}
.list-articles {

  li {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;

    img {
      margin-right: 25px;
    }

    .meta {
      color: #aaa;
      font-size: 90%;

      span {
        margin-left: 15px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    a.article-title {
      font-size: 140%;
      font-weight: bold;
      padding: 5px 0;
      display: block;
    }

    .article-desc {
      color: #888;
    }

  }
}
