.pages-about_us {
  p {
    margin: 0 0 26px;
  }

  .form-content {
    font: 13px/26px 'Lato', sans-serif;
    color: #666;
    font-size: 22px;
    line-height: 35px;
    font-weight: 300;
    border: 1px dashed #ededed;
    margin: 0 0 20px;
    padding: 30px;

    img {
      width: 100%;
    }
  }
}

.pages-support {
  // ...
}

.pages-how_it_works {
  // ...
}

.pages-partners {
  // ...
}

.pages-testimonials {
  // ...
}

.pages-media {
  // ...
}

.pages-faq {
  // ...
}

.pages-terms {
  // ...
}

.pages-privacy {
  // ...
}

.pages-contact_us {
  // ...
}
