.pages-about_us {
  color: #444;

  p {
    margin: 20px 0;
  }

  .form-content {
    font-size: 18px;
    // line-height: 120%;
    font-weight: 300;
    border: 1px dashed #ededed;
    // margin: 15px 0;
    padding: 30px;

    img {
      width: 100%;
    }
  }
}

.pages-support {

  .page-content {
    color: #444;
    font-size: 17px;
    font-weight: 300;

    p {
      margin: 20px 0;
    }

    .title {
      font-weight: bold;
    }
  }
  
}

.pages-how_it_works {

  .step {
    border-bottom: 1px solid #ddd;
    padding: 70px 0;
    position: relative;


    .text {
      max-width: 60%;
    }

    &.right .text {
      max-width: 100%;
      margin-left: 40%;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.right img {
      left: 0;
    }

    .lead {
      font-size: 18px;
    }

    .number {
      font-size: 100px;
      border: 1px solid #B8E986;
      min-width: 130px;
      height: 130px;
      padding: 10px;
      text-align: center;
      border-radius: 100px;
      display: inline-block;
      float: left;
      margin: 0 40px 80px 0;
      color: $green;
    }
  }
}

.pages-partners {
  .descricao {
    text-align: center;
    padding-bottom: 30px;
  }
}

.pages-testimonials {
  // ...
}

.pages-media, .pages-partners {
  .container {
    a {
      text-decoration: none;
    }

    .carousel {
      margin-bottom: 20px;

      .carousel-inner img {
        margin: auto;
      }

      .carousel-control {
        width: 9%;
      }
    }

    .box {
      font-size: 13px;
      line-height: 26px;
      width: 270px;
      height: 250px;
      border-radius: 7px;
      border: 1px solid #cecece;
      display: inline-block;
      background: #fff;
      margin: 0 9px 20px 0;

      .img {
        margin: 30px auto 5px auto;
        width: 80px;
        height: 80px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
      }

      h3, h4, h5 {
        font-weight: normal;
        color: #666;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 37px;
      }

      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 18px;
      }

      h5 {
        font-size: 16px;
      }
    }

    .box:hover {
      content: none;
      border: 1px solid #f8ab43;
      box-shadow: 0 0 0 3px #f8ab43;
      cursor: pointer;
    }
  }
}

.pages-faq {
  // ...
}

.pages-terms {
  // ...
}

.pages-privacy {
  // ...
}

.pages-contact_us {
  // ...
}
