.pages-about_us {
  p {
    margin: 0 0 26px;
  }

  .form-content {
    color: #666;
    font-size: 22px;
    line-height: 35px;
    font-weight: 300;
    border: 1px dashed #ededed;
    margin: 0 0 20px;
    padding: 30px;

    img {
      width: 100%;
    }
  }
}

.pages-support {
  // ...
}

.pages-how_it_works {

  /* Características Fontes */

  $base-font-family: "Lato", sans-serif;
  $base-font-size:20px;

  /* Cores Padrão */

  $color-step1:#b8bb2f;
  $color-step2:#69b2ed;
  $color-step3:#ff8000;
  $color-step4:#de79ff;
  $color-step5:#8484ff;
  $color-green-quintal:#6cad4a;

  /* Bordas */

  @mixin add-border($size, $color, $position){
  	@if $position == 'all' {
  		border:$size solid $color;
  	} @else if $position == 'top'{
  		border-top:$size solid $color;
  	} @else if $position == 'bottom'{
  		border-bottom:$size solid $color;
  	} @else if $position == 'right'{
  		border-right:$size solid $color;
  	} @else if $position == 'left'{
  		border-left:$size solid $color;
  	} @else if $position == 'top-bottom'{
  		border-top:$size solid $color;
  		border-bottom:$size solid $color;
  	} @else if $position == 'right-left'{
  		border-left:$size solid $color;
  		border-right:$size solid $color;
  	}
  }

  @mixin add-background($color) {
    background:$color;
  }


  /* Blocos */

  .block-primary-video{
    h2{
      padding: 15px 5px 10px 10px;
      @include add-background($color-green-quintal);
      color:white;
      margin: 0;
    }
  }

  /* Centralização */

  .section-video{
    text-align: center;
  }
  .row-centered{
    display:inline-block;
    text-align: center;
    max-width: 670px;
    float: none;
    margin-right: auto;
  }

  /* Imagens e Bordas */

  .col-md-3{
    img{
      float: right;
    }
    .img-border1{
      @include add-border(5px, $color-step1, all);
    }
    .img-border2{
      @include add-border(5px, $color-step2, all);
    }
    .img-border3{
      @include add-border(5px, $color-step3, all);
    }
    .img-border4{
      @include add-border(5px, $color-step4, all);
    }
    .img-border5{
      @include add-border(5px, $color-step5, all);
    }
  }

  .first-step {
    @include add-border(5px, $color-step1, bottom);
    color:$color-step1;
  }

  .second-step{
    @include add-border(5px, $color-step2, bottom);
    color:$color-step2;
  }

  .third-step{
    @include add-border(5px, $color-step3, bottom);
    color:$color-step3;
  }

  .fourth-step{
    @include add-border(5px, $color-step4, bottom);
    color:$color-step4;
  }

  .fifth-step{
    @include add-border(5px, $color-step5, bottom);
    color:$color-step5;
  }

  /* Fontes */

  .col-md-9{
    p{
    font-size: $base-font-size;
    }
    strong{
      font-size: $base-font-size;
    }
    ul{
      li{
        font-size: $base-font-size;
      }
    }
  }



   /* Listas */
   .list-pad {
     li {
       padding-left: 10px;
     }
   }
}

.pages-partners {
  .descricao {
    text-align: center;
    padding-bottom: 30px;
  }
}

.pages-testimonials {
  // ...
}

.pages-media, .pages-partners {
  .container {
    a {
      text-decoration: none;
    }

    .carousel {
      margin-bottom: 20px;

      .carousel-inner img {
        margin: auto;
      }

      .carousel-control {
        width: 9%;
      }
    }

    .box {
      font-size: 13px;
      line-height: 26px;
      width: 270px;
      height: 250px;
      border-radius: 7px;
      border: 1px solid #cecece;
      display: inline-block;
      background: #fff;
      margin: 0 9px 20px 0;

      .img {
        margin: 30px auto 5px auto;
        width: 80px;
        height: 80px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
      }

      h3, h4, h5 {
        font-weight: normal;
        color: #666;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 37px;
      }

      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 18px;
      }

      h5 {
        font-size: 16px;
      }
    }

    .box:hover {
      content: none;
      border: 1px solid #f8ab43;
      box-shadow: 0 0 0 3px #f8ab43;
      cursor: pointer;
    }
  }
}

.pages-faq {
  // ...
}

.pages-terms {
  // ...
}

.pages-privacy {
  // ...
}

.pages-contact_us {
  // ...
}
