.place-filter-box {
  background-color: #eee;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 25px;

  label {
    color: #8D5B14;
    font-size: 95%;
    font-weight: normal;
    display: block;
  }
}