body {
  // background-color: #f9f9f9;
}

header {
  padding: 20px 0 0 0;
  margin-bottom: 25px;
  background: #fff;

  &.no-margin {
    margin-bottom: 0
  }
}

html, body {
  height: 100%;
}

.navbar-quintal {
  margin-bottom: 0;
  min-height: 40px;

  .navbar-header {
    img {
      width: 220px;
      top: -10px;
      margin-right: 30px;
    }
  }

  .navbar-collapse {
    margin-top: 10px;
  }

  .nav > li.social-icons {

    padding-left: 20px;

    > a {
      font-size: 150%;
      width: auto;
      float: left;
      padding-right: 5px;
      padding-left: 5px;
      color: #f8ab43;
    }
  }

  .nav > li > a {
    padding: 10px 11px;
    border-radius: 50px;
    font-size: 105%;
    font-weight: 600;
    color: $darkGreen;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: transparent;
      color: #222;
    }

    &:active, &:focus {
      background-color: transparent;
    }
  }

}


a {
  color: darken($primary-color, 20%);

  &:hover {
    color: darken($primary-color, 30%);
  }
}

.btn-quintal {
  background-color: $primary-color;
  color: #fff;

  &:hover, &:active, &:focus {
    background-color: darken($primary-color, 20%);
    color: #fff;
  }
}

.home-destaque {
  display: block;
  // min-height: 200px;
  background: #fab46c asset_url('home-banner.jpg') no-repeat center center;
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  padding: 20px 0;

  @media screen and (min-width: $screen-sm-min) {
    padding: 90px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin: 0;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 60px;
    }
  }

  p.sub-title {
    font-size: 25px;
    margin-bottom: 0;
  }
}

.nav-dashboard {
  padding-right: 20px;
}

.dashboard {
  border-radius: 0;

  .name {
    display: block;
    font-size: 22px;
  }

  a.list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #666;

    span {
      // font-size: 20px;
      margin-right: 5px;
      min-width: 16px;
    }

    &.active {
      font-weight: bold;
      color: #222;
      background: #fff;
      background: -webkit-linear-gradient(left, #ffe5c3 , #fff);
      background: -o-linear-gradient(right, #ffe5c3, #fff);
      background: -moz-linear-gradient(right, #ffe5c3, #fff);
      background: linear-gradient(to right, #ffe5c3 , #fff);
      border: 1px solid #ccc;
      border-right: 0;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.main.container {
  margin-top: 5em;
}

.simplegallery {
  height: 400px;
  overflow: hidden;

  .content {
    background: #fff;
    width: 84%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #999;
    border-radius: 2px;
    float: left;

    img {
      // width: 415px;
      width: auto;
      max-width: 100%;
    }
  }
  .thumb-nail {
    float: left;
    width: 14%;
    margin-right: 2%;

    .thumb {
      margin: 0 0 8px 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 4px;
      text-align: center;

      img {
        width: auto;
        max-width: 100%;
        max-height: 70px;
        margin: 0 auto;
      }
    }
  }
}

ul.cards {
  h2 {
    font-size: 17px;
    margin: 0 0 10px 0;
  }

  &.cols-3 {
    li {
      width: 45%;
    }
  }
  li {
    box-shadow: 0 1px 3px #AAA;
    background: #FFF;
    border-radius: 3px;
    -webkit-transition: box-shadow .3s ease-in-out;
    // margin-bottom: 40px;
    // margin-right: 8%;
    // display: block;
    // float: left;
    min-height: 270px;
    width: 45%;


    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @media screen and (min-width: $screen-sm-min) {
      width: 30.5%;
      // width: 22.1%;
    }

    // &:nth-of-type(2n+2) {
    //   margin-right: 0;
    // }

    // @media screen and (min-width: $screen-sm-min) {
    //   width: 30%;
    //   float: left;
    //   margin-right: 5%;
    //   max-width: 250px;

    //   &:nth-of-type(2n+2) {
    //     margin-right: 5%;
    //   }

    //   &:nth-of-type(3n+3) {
    //     margin-right: 0;
    //   }
    // }
    .content {
      padding: 10px;
    }

    .btn-success {
      bottom: 0;
      position: absolute;
    }

    .thumb {
      background: #eee asset_url('no-image.png') no-repeat center center;
      background-size: 70%;
      text-align: center;
      height: 130px;
      white-space: nowrap;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      @media screen and (min-width: $screen-sm-min) {
        height: 180px;
      }

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      margin-left: -4px;
    }
  }
  &.stack li {
    display: block;
    width: 100%;
    min-height: auto;
    margin: 0 0 25px 0;
  }
}

.sub-header {
  background: #f8ab43 asset_url('bg-dots.png') repeat;
  padding: 20px 0;
  margin-bottom: 25px;

  h1 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    float: left;
    margin-right: 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-family: 'Amatic SC', 'Comic Sans MS', cursive;
    font-weight: bold;
  }

  p.lead {
    color: #8D5B14;
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
    font-style: italic;
    opacity: 0.8;
  }
}

.toy-detail-map {
  width: 100%;
  height: 150px;
  float: left;
}

#infoPanel {
  float: left;
  margin-left: 10px;
}

#infoPanel div {
  margin-bottom: 5px;
}

.toy-exchange {
  .toy-from, .toy-to {
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    margin: 10%;
  }
  .toy-from {
    margin-right: 20%;
  }
  .toy-to {
    margin-left: 20%;
  }
  .title {
    background-color: #f6f6f6;
    padding: 8px 0;
    text-align: center;
    color: #999;
    margin-bottom: 8%;
  }
  .inner {
    padding: 10%;
  }
}

.btn-new {
  margin-left: 30px;
}


.profile-mini {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  float: left;
  margin: -5px 5px 0 0;
}
.profile-thumb {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}
.profile {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.profile-large {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.list-related {
  li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    a {
      font-size: 110%;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

div#login {
  .modal-footer {
    margin-top: 10px;
  }
}

.h-line {
  background: #1B7964 asset_url('horizontal-line.png') repeat-y center top;
  height: 10px;

  &.top {
    height: 3px;
    margin-top: 20px;
  }
}

.banner {
  background-color: #007966;
  padding: 30px 0 45px 0;
  color: #fff;
  margin-top: 35px;

  h3 {
    font-size: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-sm-min) {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.testimonials {
  background-color: #b8dc4c;
  padding: 40px 0 50px 0;

  .lead {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

.press {
  background-color: #f6f6f6;
  padding: 30px;
  padding-bottom: 0;

  .home & {
    padding-bottom: 30px;
  }

  .lead {
    font-size: 30px;
    text-transform: uppercase;
  }

  .logos {
    margin: 15px 0 35px 0;
  }

  img {
    margin: 0 40px;
    opacity: 0.5;
    transition: .3s;
    margin-bottom: 35px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

footer {
  clear: both;
  padding: 0 0 30px 0;
  margin-top: 35px;
  color: #444;
  background-color: #fff;

  .home & {
    margin-top: 0;
  }

  .h-line {
    margin-bottom: 30px;
  }

  .lead {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $darkGreen;
  }

  li {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ccc;
  }

  a {
    color: #666;

    &:hover {
      color: darken($primary-color, 20%);
      text-decoration: none;
    }
  }
}


@media (max-width: 479px) {
  .navbar-quintal .navbar-toggle .icon-bar {
    background-color: rgba(248, 171, 67, 1);
    height: 3px;
    width: 30px;
    margin-top: 6px;
  }
}










.testi-slide {
  text-align: center;
}

.testi-slide img {
  width: 92px;
  height: 92px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.testi-slide p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-style: italic;
}

.testi-slide i {
  color: #32c5d2;
  margin-right: 10px;
}

.testi-slide h4 {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato", sans-serif !important;
  font-style: italic;
}

.testi-slide .flex-control-paging li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  border: 2px solid #ccc;
  width: 8px;
  height: 8px;
}

.testi-slide .flex-control-paging li a.flex-active {
  background: transparent !important;
  border: 2px solid #32c5d2;
}

.quote {
  position: relative;
}

.quote blockquote {
  padding: 0px;
  border: 0;
  margin: 0;
  font-size: 14px;
  font-style: italic;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  background-color: rgba(255,255,255, 0.7);
}

.quote blockquote p {
  color: #333;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.quote blockquote:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 90px;
  width: 0;
  height: 0;
  border-top: 0.83333em solid #fff;
  border-top: 0.83333em solid rgba(255,255,255, 0.7);
  border-right: 0.86667em solid transparent;
}

.quote-footer {
  margin: 10px 0;
  color: #222;
}

.quote-footer .quote-author-img img {
  float: left;
  max-width: 70px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  padding: 5px;
  background-color: #b8dc4c;
  margin-right: 25px;
}

.quote-footer h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.quote-footer p {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}