body {
  // background-color: #f9f9f9;
}

header {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  margin-bottom: 25px;
  background: #fff asset_url('paper-bg.png') repeat;

  &.no-margin {
    margin-bottom: 0
  }
}

html, body {
  height: 100%;
}

.navbar-quintal {
  margin-bottom: 0;
  min-height: 40px;

  .navbar-header {
    img {
      width: 250px;
      top: -10px;
      margin-right: 30px;
    }
  }

  .navbar-collapse {
    margin-top: 15px;
  }

  .nav > li.social-icons {

    padding-left: 20px;

    > a {
      font-size: 150%;
      width: auto;
      float: left;
      padding-right: 5px;
      padding-left: 5px;
      color: #f8ab43;
    }
  }

  .nav > li > a {
    color: #6cad4a;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 105%;
    text-shadow: 0 1px 2px #fff;

    &:hover {
      background-color: #f9f9f9;
      color: $primary-color;
    }
  }

}


a {
  color: darken($primary-color, 20%);

  &:hover {
    color: darken($primary-color, 30%);
  }
}

.home-destaque {
  display: block;
  min-height: 250px;
  background: #fab46c asset_url('home-destaque.jpg') no-repeat center center;
  color: #ffffff;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-bottom: 25px;
  text-align: center;
  padding: 35px 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  border-top: 1px solid #e58a2c;

  h2 {
    font-family: 'Amatic SC', 'Comic Sans MS', cursive;
    font-size: 75px;
    font-weight: bold;
    margin-top: 0;
  }

  p.sub-title {
    font-size: 25px;
  }
}

.nav-dashboard {
  padding-right: 20px;
}

.dashboard {
  border-radius: 0;

  .name {
    display: block;
    font-size: 22px;
  }

  a.list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #666;

    span {
      // font-size: 20px;
      margin-right: 5px;
      min-width: 16px;
    }

    &.active {
      font-weight: bold;
      color: #222;
      background: #fff;
      background: -webkit-linear-gradient(left, #ffe5c3 , #fff);
      background: -o-linear-gradient(right, #ffe5c3, #fff);
      background: -moz-linear-gradient(right, #ffe5c3, #fff);
      background: linear-gradient(to right, #ffe5c3 , #fff);
      border: 1px solid #ccc;
      border-right: 0;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.main.container {
  margin-top: 5em;
}

.simplegallery {
  height: 400px;
  overflow: hidden;

  .content {
    background: #fff;
    width: 84%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #999;
    border-radius: 2px;
    float: left;

    img {
      // width: 415px;
      width: auto;
      max-width: 100%;
    }
  }
  .thumb-nail {
    float: left;
    width: 14%;
    margin-right: 2%;

    .thumb {
      margin: 0 0 8px 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 4px;
      text-align: center;

      img {
        width: auto;
        max-width: 100%;
        max-height: 70px;
        margin: 0 auto;
      }
    }
  }
}

ul.cards {
  h2 {
    font-size: 17px;
    margin: 0 0 10px 0;
  }
  li {
    box-shadow: 0 1px 3px #AAA;
    background: #FFF;
    border-radius: 3px;
    -webkit-transition: box-shadow .3s ease-in-out;
    // margin-bottom: 40px;
    // margin-right: 8%;
    // display: block;
    // float: left;
    min-height: 270px;
    width: 45%;


    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @media screen and (min-width: $screen-sm-min) {
      width: 22.1%;
    }

    // &:nth-of-type(2n+2) {
    //   margin-right: 0;
    // }

    // @media screen and (min-width: $screen-sm-min) {
    //   width: 30%;
    //   float: left;
    //   margin-right: 5%;
    //   max-width: 250px;

    //   &:nth-of-type(2n+2) {
    //     margin-right: 5%;
    //   }

    //   &:nth-of-type(3n+3) {
    //     margin-right: 0;
    //   }
    // }
    .content {
      padding: 10px;
    }

    .btn-success {
      bottom: 0;
      position: absolute;
    }

    .thumb {
      background: #eee asset_url('no-image.png') no-repeat center center;
      background-size: 70%;
      text-align: center;
      height: 130px;
      white-space: nowrap;

      @media screen and (min-width: $screen-sm-min) {
        height: 180px;
      }

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      margin-left: -4px;
    }
  }
  &.stack li {
    display: block;
    width: 100%;
    min-height: auto;
    margin: 0 0 25px 0;
  }
}

.sub-header {
  background: #f8ab43 asset_url('bg-dots.png') repeat;
  padding: 20px 0;
  margin-bottom: 25px;
  border-top: 1px solid #e58a2c;

  h1 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    float: left;
    margin-right: 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-family: 'Amatic SC', 'Comic Sans MS', cursive;
    font-weight: bold;
  }

  p.lead {
    color: #8D5B14;
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
    font-style: italic;
    opacity: 0.8;
  }
}

.toy-detail-map {
  width: 100%;
  height: 150px;
  float: left;
}

#infoPanel {
  float: left;
  margin-left: 10px;
}

#infoPanel div {
  margin-bottom: 5px;
}

.toy-exchange {
  .toy-from, .toy-to {
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    margin: 10%;
  }
  .toy-from {
    margin-right: 20%;
  }
  .toy-to {
    margin-left: 20%;
  }
  .title {
    background-color: #f6f6f6;
    padding: 8px 0;
    text-align: center;
    color: #999;
    margin-bottom: 8%;
  }
  .inner {
    padding: 10%;
  }
}

.btn-new {
  margin-left: 30px;
}


.profile-mini {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  float: left;
  margin: -5px 5px 0 0;
}
.profile-thumb {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}
.profile {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.profile-large {
  display: inline-block;
  border: 2px solid $primary-color;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.list-related {
  li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    a {
      font-size: 110%;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}




footer {
  clear: both;
  padding: 30px 0;
  margin-top: 35px;
  border-top: 10px solid #fcdc43;
  color: #444;
  background: #fff asset_url('paper-bg.png') repeat;

  .lead {
    font-size: 19px;
    margin-bottom: 10px;
    color: darken($primary-color, 20%);
  }

  li {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ccc;
  }

  a {
    color: #666;

    &:hover {
      color: darken($primary-color, 20%);
      text-decoration: none;
    }
  }
}


@media (max-width: 479px) {
  .navbar-quintal .navbar-toggle .icon-bar {
    background-color: rgba(248, 171, 67, 1);
    height: 3px;
    width: 30px;
    margin-top: 6px;
  }
}
