<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        ...
      </div>
      <div class="col-sm-6">
        ...
      </div>
    </div>
    <small>© 2016 - Quintal de Trocas - Direitos reservados</small>
  </div>
</footer>