<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      * { color:#666666;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px; }
      
      .body { padding: 20px; }

      a:link, a:visited { color: #888888; text-decoration:none; }
      
      .content { padding:10px 0; padding-bottom:25px; }
      .content p { line-height:160%; clear: both; }
      .content h2 { font-size: 20px; font-weight: normal; }
      .content .lead { font-size:16px; }
      .content table { margin:10px 0 30px 0; width: 100%; padding: 0; padding-top: 15px; border-top: 1px solid #eeeeee; }
      .content table th { text-align: left; width: 20%; font-weight: normal; }
      .content .no-padding { padding:10px; }
      .content a:link, .content a:visited { color: #0077cc; text-decoration: underline; }
      .content .call-to-action { clear: both; color: #999; font-size: 20px; }
      .content .call-to-action a { font-size: 18px; color: #0077cc; text-decoration: underline; font-weight: bold; }
      .content .item-detail { background-color: #fbfcf7; padding: 15px; margin: 15px 0 25px 0;}
      .content .item-detail p { font-size: 12px; color: #666; clear: none; margin-bottom: 0; }
      .content img.pull-left { float: left; margin: 0 15px 15px 0; }
      .content .small { font-size: 12px; color: #666; }
    </style>
  </head>
  <body>

    <%= link_to (image_tag 'logo-quintal.png', width: 220), root_url %><br><br>
    
    <div class="content">
      <%= yield %>
      <br>
    </div>

  </body>
</html>
